body {
  margin: 0;
  line-height: normal;
}
.rectangle-div765 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 390px;
  height: 44px;
}
.room-designer-3d41 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
}
.reset-icon41,
.room-design-3d41 {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 280px;
  height: 27px;
}
.reset-icon41 {
  height: 43.18%;
  width: 4.62%;
  top: 29.55%;
  right: 15.13%;
  bottom: 27.27%;
  left: 80.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header41 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 390px;
  height: 44px;
}
.time41 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 170px);
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  width: 52px;
}
.border41,
.cap-icon40 {
  position: absolute;
  mix-blend-mode: normal;
}
.border41 {
  top: calc(50% - 5.67px);
  left: calc(50% - 12.16px);
  border-radius: var(--br-2xs);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon40 {
  top: calc(50% - 2px);
  left: calc(50% + 10.84px);
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity41 {
  position: absolute;
  top: calc(50% - 3.67px);
  left: calc(50% - 10.16px);
  border-radius: var(--br-3xs);
  background-color: var(--black);
  width: 18px;
  height: 7.33px;
}
.battery41 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 145.7px);
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon41 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.cellular-connection-icon41 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.system-light-status-bar41 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 44px;
  font-size: var(--font-size-xl);
  color: var(--black);
}
.image-1-icon41,
.upper-slider39 {
  position: absolute;
  left: 0;
  width: 390px;
}
.image-1-icon41 {
  top: 88px;
  height: 524px;
  object-fit: cover;
}
.upper-slider39 {
  top: 564px;
  border-radius: var(--br-2xl) var(--br-2xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  height: 283px;
}
.rectangle-div766 {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 220px;
  height: 30px;
}
.furniture48 {
  position: absolute;
  top: 4px;
  left: calc(50% - 91px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 181px;
}
.furnichure41 {
  position: absolute;
  top: 594px;
  left: calc(50% - 110px);
  width: 220px;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.left-arrow-icon37,
.right-arrow-icon41 {
  position: absolute;
  height: 3.55%;
  width: 7.69%;
  top: 70.38%;
  right: 82.05%;
  bottom: 26.07%;
  left: 10.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.right-arrow-icon41 {
  right: 10.26%;
  left: 82.05%;
}
.home-indicator41 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black);
  width: 134px;
  height: 5px;
}
.system-light-home-indicato41 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
}
.hower-icon1 {
  position: absolute;
  top: 590px;
  left: 230px;
  width: 18.9px;
  height: 29.5px;
  overflow: hidden;
  display: none;
}
.inner-feachure-box39 {
  position: absolute;
  top: calc(50% - 30.65px);
  left: calc(50% - 170px);
  width: 340px;
  height: 61.3px;
}
.rectangle-div767 {
  position: absolute;
  top: 0;
  left: calc(50% - 51.67px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 103.33px;
  height: 30px;
}
.chair49 {
  position: absolute;
  top: 4px;
  left: calc(50% - 47.67px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
}
.chair48 {
  position: absolute;
  top: 20.3px;
  left: calc(50% - 160px);
  width: 103.33px;
  height: 30px;
  color: var(--color-white);
}
.rectangle-div768,
.table44,
.window-bllinds6 {
  position: absolute;
  left: calc(50% - 51.67px);
  width: 103.33px;
  height: 30px;
}
.rectangle-div768 {
  top: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.table44,
.window-bllinds6 {
  top: 20.3px;
  cursor: pointer;
}
.window-bllinds6 {
  left: calc(50% + 56.66px);
}
.inner-feachure39 {
  position: absolute;
  top: calc(50% + 211.7px);
  left: calc(50% - 170px);
  width: 340px;
  height: 61.3px;
  text-align: center;
  font-size: var(--font-size-base);
}
.div687 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 390px;
  height: 844px;
  overflow-x: auto;
}
.union-icon64 {
  position: relative;
  width: 220px;
  height: 350px;
}
.back-icon41 {
  position: absolute;
  height: 2.86%;
  width: 4.8%;
  top: 4.29%;
  right: 86.11%;
  bottom: 92.86%;
  left: 9.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div770 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.vector-icon382 {
  position: absolute;
  height: 33.33%;
  width: 3.09%;
  top: 33.33%;
  right: 2.47%;
  bottom: 33.33%;
  left: 94.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome45 {
  position: absolute;
  width: 88.89%;
  top: 13.33%;
  left: 5.56%;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.div688,
.div689,
.div690,
.div691,
.div692,
.div693,
.div694 {
  position: absolute;
  height: 8.57%;
  width: 81.82%;
  top: 11.43%;
  right: 9.09%;
  bottom: 80%;
  left: 9.09%;
}
.div689,
.div690,
.div691,
.div692,
.div693,
.div694 {
  top: 22.86%;
  bottom: 68.57%;
}
.div690,
.div691,
.div692,
.div693,
.div694 {
  top: 34.29%;
  bottom: 57.14%;
}
.div691,
.div692,
.div693,
.div694 {
  top: 45.71%;
  bottom: 45.71%;
}
.div692,
.div693,
.div694 {
  top: 57.14%;
  bottom: 34.29%;
}
.div693,
.div694 {
  top: 68.57%;
  bottom: 22.86%;
}
.div694 {
  top: 80%;
  bottom: 11.43%;
}
.menu-box41 {
  position: absolute;
  top: 88px;
  left: 145px;
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 350px;
  display: none;
  font-size: var(--font-size-base);
}
.fluent-line-icon41 {
  position: absolute;
  top: 56px;
  left: 345px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.div686 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
