body {
  margin: 0;
  line-height: normal;
}
.rectangle-div713 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 390px;
  height: 44px;
}
.room-designer-3d38 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
}
.reset-icon38,
.room-design-3d38 {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 280px;
  height: 27px;
}
.reset-icon38 {
  height: 43.18%;
  width: 4.62%;
  top: 29.55%;
  right: 15.13%;
  bottom: 27.27%;
  left: 80.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header38 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 390px;
  height: 44px;
  font-size: var(--font-size-3xl);
}
.time38 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 170px);
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  width: 52px;
}
.border38,
.cap-icon37 {
  position: absolute;
  mix-blend-mode: normal;
}
.border38 {
  top: calc(50% - 5.67px);
  left: calc(50% - 12.16px);
  border-radius: var(--br-2xs);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon37 {
  top: calc(50% - 2px);
  left: calc(50% + 10.84px);
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity38 {
  position: absolute;
  top: calc(50% - 3.67px);
  left: calc(50% - 10.16px);
  border-radius: var(--br-3xs);
  background-color: var(--black);
  width: 18px;
  height: 7.33px;
}
.battery38 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 145.7px);
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon38 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.cellular-connection-icon38 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.system-light-status-bar38 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 44px;
  font-size: var(--font-size-xl);
  color: var(--black);
}
.image-1-icon38,
.upper-slider36 {
  position: absolute;
  left: 0;
  width: 390px;
}
.image-1-icon38 {
  top: 88px;
  height: 524px;
  object-fit: cover;
}
.upper-slider36 {
  top: 564px;
  border-radius: var(--br-2xl) var(--br-2xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  height: 283px;
}
.rectangle-div714 {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 220px;
  height: 30px;
}
.furniture42 {
  position: absolute;
  top: 4px;
  left: calc(50% - 91px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 181px;
}
.furnichure38 {
  position: absolute;
  top: 594px;
  left: calc(50% - 110px);
  width: 220px;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.left-arrow-icon34,
.right-arrow-icon38 {
  position: absolute;
  height: 3.55%;
  width: 7.69%;
  top: 70.38%;
  right: 82.05%;
  bottom: 26.07%;
  left: 10.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.right-arrow-icon38 {
  right: 10.26%;
  left: 82.05%;
}
.home-indicator38 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black);
  width: 134px;
  height: 5px;
}
.system-light-home-indicato38 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
}
.inner-feachure-box36 {
  position: absolute;
  top: calc(50% - 30.65px);
  left: calc(50% - 170px);
  width: 340px;
  height: 61.3px;
}
.rectangle-div715 {
  position: absolute;
  top: 0;
  left: calc(50% - 51.67px);
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 103.33px;
  height: 30px;
}
.chair41 {
  position: absolute;
  top: 4px;
  left: calc(50% - 47.67px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
}
.chair40 {
  position: absolute;
  top: 20.3px;
  left: calc(50% - 160px);
  width: 103.33px;
  height: 30px;
}
.table36 {
  top: 20.3px;
  left: calc(50% - 51.67px);
}
.rectangle-div717,
.table36,
.window-bllinds3 {
  position: absolute;
  width: 103.33px;
  height: 30px;
}
.rectangle-div717 {
  top: 0;
  left: calc(50% - 51.67px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
}
.window-bllinds3 {
  top: 20.3px;
  left: calc(50% + 56.66px);
  color: var(--color-white);
}
.inner-feachure36 {
  position: absolute;
  top: calc(50% + 211.7px);
  left: calc(50% - 170px);
  width: 340px;
  height: 61.3px;
  text-align: center;
}
.dragable-box-sqauar85,
.rectangle-icon99 {
  position: absolute;
  top: calc(50% - 92.5px);
  left: calc(50% - 110px);
  width: 220px;
  height: 185px;
}
.rectangle-icon99 {
  height: 25px;
}
.cross-icon70 {
  position: absolute;
  height: 4.77%;
  width: 4.01%;
  top: 4.32%;
  right: 4.63%;
  bottom: 90.91%;
  left: 91.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.table-level,
.table38 {
  position: absolute;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.table38 {
  top: 2px;
  left: 44px;
  font-weight: 600;
  text-align: center;
  width: 132px;
}
.table-level {
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-brown-100);
  width: 120px;
}
.check-box-icon176 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.div643,
.level,
.level2,
.level4 {
  position: absolute;
  top: 22px;
  left: 0;
  width: 49px;
  height: 22px;
}
.div643,
.level2,
.level4 {
  left: 59px;
}
.div643,
.level4 {
  left: 118px;
}
.div643 {
  top: 30px;
  left: 15px;
  width: 167px;
  height: 44px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-500);
}
.table-material {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 120px;
}
.rectangle-div718 {
  position: absolute;
  top: 26px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-300);
  width: 37.5px;
  height: 30px;
}
.rectangle-div719,
.rectangle-div720,
.rectangle-div721,
.rectangle-div722,
.rectangle-div723,
.rectangle-div724,
.rectangle-div725 {
  position: absolute;
  top: 26px;
  left: 51px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-300);
  width: 37.5px;
  height: 30px;
}
.rectangle-div720,
.rectangle-div721,
.rectangle-div722,
.rectangle-div723,
.rectangle-div724,
.rectangle-div725 {
  left: 102px;
}
.rectangle-div721,
.rectangle-div722,
.rectangle-div723,
.rectangle-div724,
.rectangle-div725 {
  left: 152.5px;
}
.rectangle-div722,
.rectangle-div723,
.rectangle-div724,
.rectangle-div725 {
  top: 66px;
  left: 0;
}
.rectangle-div723,
.rectangle-div724,
.rectangle-div725 {
  left: 51px;
}
.rectangle-div724,
.rectangle-div725 {
  left: 102px;
}
.rectangle-div725 {
  left: 152.5px;
}
.div644 {
  position: absolute;
  top: 80px;
  left: 15px;
  width: 190px;
  height: 96px;
}
.dilog-box-121 {
  position: absolute;
  top: calc(50% + 212px);
  left: calc(50% - 110px);
  width: 220px;
  height: 185px;
  display: none;
  color: var(--color-brown-100);
}
.dragable-box-sqauar86,
.rectangle-icon100 {
  position: absolute;
  top: calc(50% - 65px);
  left: calc(50% - 110px);
  width: 220px;
  height: 130px;
}
.rectangle-icon100 {
  height: 25px;
}
.cross-icon71 {
  position: absolute;
  height: 6.79%;
  width: 4.01%;
  top: 6.15%;
  right: 4.63%;
  bottom: 87.06%;
  left: 91.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.height {
  position: absolute;
  top: 0;
  left: 19px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 30px;
}
.div646 {
  left: 0;
  width: 49px;
  height: 22px;
}
.back-incline,
.div646,
.div647 {
  position: absolute;
  top: 0;
}
.div647 {
  left: 59px;
  width: 49px;
  height: 22px;
}
.back-incline {
  left: 19px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 51px;
}
.div645,
.div648 {
  position: absolute;
  top: 0;
  left: 118px;
  width: 70px;
  height: 22px;
}
.div645 {
  top: 30px;
  left: 15px;
  width: 188px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-500);
}
.beige-icon,
.black-icon,
.brown-icon,
.dark-brown-icon {
  position: absolute;
  top: 26px;
  left: 0;
  width: 37.5px;
  height: 30px;
  object-fit: cover;
}
.beige-icon,
.black-icon,
.dark-brown-icon {
  left: 51px;
}
.beige-icon,
.black-icon {
  left: 102px;
}
.black-icon {
  left: 152.5px;
}
.div649 {
  position: absolute;
  top: 59px;
  left: 15px;
  width: 190px;
  height: 56px;
}
.dilog-box-215 {
  position: absolute;
  top: calc(50% + 212px);
  left: calc(50% - 110px);
  width: 220px;
  height: 130px;
  display: none;
  color: var(--color-brown-100);
}
.union-icon60 {
  position: relative;
  width: 220px;
  height: 140px;
}
.try-similar-window-blinds1 {
  position: absolute;
  top: 0;
  left: calc(50% - 82.5px);
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 165px;
}
.try-similar-window-blinds {
  position: absolute;
  top: 109px;
  left: calc(50% - 95px);
  width: 165px;
  height: 22px;
  cursor: pointer;
}
.dragable-box-sqauar87,
.rectangle-icon101 {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 110px);
  width: 220px;
}
.dragable-box-sqauar87 {
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  height: 140px;
}
.rectangle-icon101 {
  height: 25px;
}
.cross-icon72 {
  position: absolute;
  height: 10.71%;
  width: 6.82%;
  top: 3.57%;
  right: 4.09%;
  bottom: 85.71%;
  left: 89.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.sunlight-coming-through-window,
.window-blinds43 {
  position: absolute;
  letter-spacing: -0.41px;
  display: inline-block;
}
.window-blinds43 {
  top: 2px;
  left: 44px;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-weight: 600;
  color: var(--color-brown-100);
  text-align: center;
  width: 132px;
}
.sunlight-coming-through-window {
  top: 24px;
  left: 0;
  line-height: 10px;
  font-weight: 500;
  color: var(--color-gray-400);
  width: 190px;
  height: 20px;
}
.div650,
.div651 {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 190px;
  height: 44px;
}
.div651 {
  top: 75px;
  width: 49px;
  height: 22px;
}
.dilog-box-312 {
  position: absolute;
  top: calc(50% + 212px);
  left: calc(50% - 110px);
  width: 220px;
  height: 140px;
  font-size: var(--font-size-xs);
}
.rectangle-div726,
.union24 {
  background-color: var(--color-white);
  width: 220px;
  height: 120px;
}
.rectangle-div726 {
  position: absolute;
  top: calc(50% + 599px);
  left: calc(50% - 25px);
  border-radius: var(--br-xl);
}
.union24 {
  position: relative;
  border: 1px solid var(--color-brown-100);
  box-sizing: border-box;
}
.dragable-box-sqauar88 {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 110px);
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 120px;
}
.only24,
.price49 {
  position: absolute;
  top: 0;
  left: 38px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.only24 {
  top: 18px;
  left: 0;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: var(--color-brown-100);
}
.price48 {
  position: absolute;
  top: 10px;
  left: 58px;
  width: 105px;
  height: 40px;
}
.rectangle-div727 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 80px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 160px;
  height: 30px;
}
.vector-icon359 {
  position: absolute;
  height: 66.7%;
  width: 8.3%;
  top: 55.75%;
  right: 69.79%;
  bottom: -22.44%;
  left: 21.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.buy-button47,
.buy-now24,
.group-div48 {
  position: absolute;
  width: 56.41px;
  height: 17px;
}
.buy-now24 {
  top: calc(50% - 8.5px);
  left: calc(50% - 28.2px);
  letter-spacing: -0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.buy-button47,
.group-div48 {
  top: calc(50% - 9px);
  left: calc(50% - 28px);
}
.buy-button47 {
  top: calc(50% + 10px);
  left: calc(50% - 80px);
  width: 160px;
  height: 30px;
  color: var(--color-white);
}
.cross-icon73 {
  position: absolute;
  top: 4px;
  left: 201px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.price-buy-button-15 {
  position: absolute;
  top: calc(50% + 237px);
  left: calc(50% - 110px);
  width: 220px;
  height: 120px;
  display: none;
  text-align: center;
  color: var(--color-gray-200);
}
.div642 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 390px;
  height: 844px;
  overflow-x: auto;
}
.union-icon61 {
  position: relative;
  width: 220px;
  height: 350px;
}
.back-icon38 {
  position: absolute;
  height: 2.86%;
  width: 4.8%;
  top: 4.29%;
  right: 86.11%;
  bottom: 92.86%;
  left: 9.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div728 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.vector-icon360 {
  position: absolute;
  height: 33.33%;
  width: 3.09%;
  top: 33.33%;
  right: 2.47%;
  bottom: 33.33%;
  left: 94.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome42 {
  position: absolute;
  width: 88.89%;
  top: 13.33%;
  left: 5.56%;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.div652,
.div653,
.div654,
.div655,
.div656,
.div657,
.div658 {
  position: absolute;
  height: 8.57%;
  width: 81.82%;
  top: 11.43%;
  right: 9.09%;
  bottom: 80%;
  left: 9.09%;
}
.div653,
.div654,
.div655,
.div656,
.div657,
.div658 {
  top: 22.86%;
  bottom: 68.57%;
}
.div654,
.div655,
.div656,
.div657,
.div658 {
  top: 34.29%;
  bottom: 57.14%;
}
.div655,
.div656,
.div657,
.div658 {
  top: 45.71%;
  bottom: 45.71%;
}
.div656,
.div657,
.div658 {
  top: 57.14%;
  bottom: 34.29%;
}
.div657,
.div658 {
  top: 68.57%;
  bottom: 22.86%;
}
.div658 {
  top: 80%;
  bottom: 11.43%;
}
.menu-box38 {
  position: absolute;
  top: 88px;
  left: 145px;
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 350px;
  display: none;
}
.fluent-line-icon38 {
  position: absolute;
  top: 56px;
  left: 345px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.div641 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
