body {
  margin: 0;
  line-height: normal;
}
.rectangle-div683 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 390px;
  height: 44px;
}
.room-designer-3d36 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
}
.reset-icon36,
.room-design-3d36 {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 280px;
  height: 27px;
}
.reset-icon36 {
  height: 43.18%;
  width: 4.62%;
  top: 29.55%;
  right: 15.13%;
  bottom: 27.27%;
  left: 80.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header36 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 390px;
  height: 44px;
  text-align: left;
  font-size: var(--font-size-3xl);
}
.time36 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 170px);
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  width: 52px;
}
.border36,
.cap-icon35 {
  position: absolute;
  mix-blend-mode: normal;
}
.border36 {
  top: calc(50% - 5.67px);
  left: calc(50% - 12.16px);
  border-radius: var(--br-2xs);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon35 {
  top: calc(50% - 2px);
  left: calc(50% + 10.84px);
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity36 {
  position: absolute;
  top: calc(50% - 3.67px);
  left: calc(50% - 10.16px);
  border-radius: var(--br-3xs);
  background-color: var(--black);
  width: 18px;
  height: 7.33px;
}
.battery36 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 145.7px);
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon36 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.cellular-connection-icon36 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.system-light-status-bar36 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 44px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black);
}
.image-1-icon36,
.upper-slider34 {
  position: absolute;
  left: 0;
  width: 390px;
}
.image-1-icon36 {
  top: 88px;
  height: 524px;
  object-fit: cover;
}
.upper-slider34 {
  top: 564px;
  border-radius: var(--br-2xl) var(--br-2xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.15);
  height: 283px;
}
.rectangle-div684 {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 220px;
  height: 30px;
}
.lighting43 {
  position: absolute;
  top: 4px;
  left: calc(50% - 91px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 181px;
}
.furnichure36 {
  position: absolute;
  top: 594px;
  left: calc(50% - 110px);
  width: 220px;
  height: 30px;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.left-arrow-icon32,
.right-arrow-icon36 {
  position: absolute;
  height: 3.55%;
  width: 7.69%;
  top: 70.38%;
  right: 82.05%;
  bottom: 26.07%;
  left: 10.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.right-arrow-icon36 {
  right: 10.26%;
  left: 82.05%;
}
.home-indicator36 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black);
  width: 134px;
  height: 5px;
}
.system-light-home-indicato36 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
}
.inner-feachure-box34 {
  position: absolute;
  top: calc(50% - 30.65px);
  left: calc(50% - 170px);
  width: 340px;
  height: 61.3px;
}
.rectangle-div685 {
  position: absolute;
  top: 0;
  left: calc(50% - 51.67px);
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 103.33px;
  height: 30px;
}
.chair37,
.controls5 {
  position: absolute;
  cursor: pointer;
}
.controls5 {
  top: 4px;
  left: calc(50% - 47.67px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
}
.chair37 {
  top: 20.3px;
  left: calc(50% - 160px);
  width: 103.33px;
  height: 30px;
}
.artifacts6 {
  position: absolute;
  top: 4px;
  left: calc(50% - 47.67px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
}
.table33,
.window-blinds40 {
  position: absolute;
  top: 20.3px;
  width: 103.33px;
  height: 30px;
}
.table33 {
  left: calc(50% - 52px);
  cursor: pointer;
}
.window-blinds40 {
  left: calc(50% + 57px);
}
.inner-feachure34 {
  position: absolute;
  top: calc(50% + 211.7px);
  left: calc(50% - 170px);
  width: 340px;
  height: 61.3px;
}
.dragable-box-sqauar82,
.rectangle-icon98 {
  position: absolute;
  top: calc(50% - 92.5px);
  left: calc(50% - 110px);
  width: 220px;
  height: 185px;
}
.rectangle-icon98 {
  height: 25px;
}
.icon36 {
  position: absolute;
  height: 4.77%;
  width: 4.01%;
  top: 4.32%;
  right: 4.63%;
  bottom: 90.91%;
  left: 91.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lighting44,
.pitch-dark4 {
  position: absolute;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.lighting44 {
  top: 2px;
  left: 44px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-brown-100);
  text-align: center;
  width: 132px;
}
.pitch-dark4 {
  top: 0;
  left: 24px;
  width: 104px;
}
.check-box-icon171 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.div619,
.div620 {
  position: absolute;
  top: 30px;
  left: 82px;
  width: 128px;
  height: 22px;
}
.div620 {
  top: 52px;
}
.ceiling-light4 {
  position: absolute;
  top: 0;
  left: 24px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 105px;
}
.div621,
.div622,
.div623 {
  position: absolute;
  top: 74px;
  left: 82px;
  width: 129px;
  height: 22px;
}
.div622,
.div623 {
  top: 96px;
}
.div623 {
  top: 118px;
}
.day-light8 {
  position: absolute;
  top: 0;
  left: 1px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 128px;
}
.rectangle-div688,
.rectangle-div689 {
  position: absolute;
  top: 28px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-300);
  width: 120px;
  height: 2px;
}
.rectangle-div689 {
  background-color: var(--color-brown-100);
  width: 49px;
}
.div624,
.ellipse-icon8 {
  position: absolute;
  top: 25px;
  left: 45px;
  width: 8px;
  height: 8px;
}
.div624 {
  top: 144px;
  left: 81px;
  width: 129px;
  height: 33px;
  font-size: var(--font-size-base);
  color: var(--color-brown-100);
}
.color-wheel-color-calculator-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.color-wheel4,
.ellipse-icon9 {
  position: absolute;
  top: 34.8px;
  left: 40.8px;
  width: 9.6px;
  height: 9.6px;
}
.color-wheel4 {
  top: 64px;
  left: 12px;
  width: 60px;
  height: 60px;
}
.dilog-box-120 {
  position: absolute;
  top: calc(50% + 212px);
  left: calc(50% - 110px);
  width: 220px;
  height: 185px;
  display: none;
  text-align: left;
  font-size: var(--font-size-sm);
}
.rectangle-div690,
.union22 {
  background-color: var(--color-white);
  width: 220px;
  height: 120px;
}
.rectangle-div690 {
  position: absolute;
  top: calc(50% + 599px);
  left: calc(50% - 25px);
  border-radius: var(--br-xl);
}
.union22 {
  position: relative;
  border: 1px solid var(--color-brown-100);
  box-sizing: border-box;
}
.dragable-box-sqauar83 {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 110px);
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 120px;
}
.only22,
.price45 {
  position: absolute;
  top: 0;
  left: 38px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.only22 {
  top: 18px;
  left: 0;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: var(--color-brown-100);
}
.price44 {
  position: absolute;
  top: 10px;
  left: 58px;
  width: 105px;
  height: 40px;
}
.rectangle-div691 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 80px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 160px;
  height: 30px;
}
.vector-icon343 {
  position: absolute;
  height: 66.7%;
  width: 8.3%;
  top: 55.75%;
  right: 69.79%;
  bottom: -22.44%;
  left: 21.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.buy-button45,
.buy-now22,
.group-div46 {
  position: absolute;
  width: 56.41px;
  height: 17px;
}
.buy-now22 {
  top: calc(50% - 8.5px);
  left: calc(50% - 28.2px);
  letter-spacing: -0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.buy-button45,
.group-div46 {
  top: calc(50% - 9px);
  left: calc(50% - 28px);
}
.buy-button45 {
  top: calc(50% + 10px);
  left: calc(50% - 80px);
  width: 160px;
  height: 30px;
  color: var(--color-white);
}
.cross-icon68 {
  position: absolute;
  top: 4px;
  left: 201px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.price-buy-button-14 {
  position: absolute;
  top: calc(50% + 237px);
  left: calc(50% - 110px);
  width: 220px;
  height: 120px;
  display: none;
  color: var(--color-gray-200);
}
.div618 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 390px;
  height: 844px;
  overflow-x: auto;
}
.union-icon58 {
  position: relative;
  width: 220px;
  height: 350px;
}
.back-icon36 {
  position: absolute;
  height: 2.86%;
  width: 4.8%;
  top: 4.29%;
  right: 86.11%;
  bottom: 92.86%;
  left: 9.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-div694 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.vector-icon345 {
  position: absolute;
  height: 33.33%;
  width: 3.09%;
  top: 33.33%;
  right: 2.47%;
  bottom: 33.33%;
  left: 94.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome40 {
  position: absolute;
  width: 88.89%;
  top: 13.33%;
  left: 5.56%;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.div625,
.vector-icon346 {
  position: absolute;
  height: 8.57%;
  width: 81.82%;
  top: 11.43%;
  right: 9.09%;
  bottom: 80%;
  left: 9.09%;
  cursor: pointer;
}
.vector-icon346 {
  height: 33.33%;
  width: 3.09%;
  top: 33.33%;
  right: 2.47%;
  bottom: 33.33%;
  left: 94.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div626,
.div627,
.div628,
.div629,
.div630,
.div631 {
  position: absolute;
  height: 8.57%;
  width: 81.82%;
  top: 22.86%;
  right: 9.09%;
  bottom: 68.57%;
  left: 9.09%;
}
.div627,
.div628,
.div629,
.div630,
.div631 {
  top: 34.29%;
  bottom: 57.14%;
}
.div628,
.div629,
.div630,
.div631 {
  top: 45.71%;
  bottom: 45.71%;
}
.div629,
.div630,
.div631 {
  top: 57.14%;
  bottom: 34.29%;
}
.div630,
.div631 {
  top: 68.57%;
  bottom: 22.86%;
}
.div631 {
  top: 80%;
  bottom: 11.43%;
}
.menu-box36 {
  position: absolute;
  top: 88px;
  left: 145px;
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 350px;
  display: none;
  text-align: left;
}
.fluent-line-icon36 {
  position: absolute;
  top: 56px;
  left: 345px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.div617 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
