body {
  margin: 0;
  line-height: normal;
}
.rectangle-div227 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 390px;
  height: 44px;
}
.room-designer-3d10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
}
.reset-icon10,
.room-design-3d10 {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 280px;
  height: 27px;
}
.reset-icon10 {
  height: 43.18%;
  width: 4.62%;
  top: 29.55%;
  right: 15.13%;
  bottom: 27.27%;
  left: 80.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header10 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 390px;
  height: 44px;
  font-size: var(--font-size-3xl);
}
.time10 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 170px);
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  width: 52px;
}
.border10,
.cap-icon10 {
  position: absolute;
  mix-blend-mode: normal;
}
.border10 {
  top: calc(50% - 5.67px);
  left: calc(50% - 12.16px);
  border-radius: var(--br-2xs);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon10 {
  top: calc(50% - 2px);
  left: calc(50% + 10.84px);
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity10 {
  position: absolute;
  top: calc(50% - 3.67px);
  left: calc(50% - 10.16px);
  border-radius: var(--br-3xs);
  background-color: var(--black);
  width: 18px;
  height: 7.33px;
}
.battery10 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 145.7px);
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon10 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.cellular-connection-icon10 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.system-light-status-bar10 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 44px;
  font-size: var(--font-size-xl);
  color: var(--black);
}
.image-1-icon10,
.upper-slider9 {
  position: absolute;
  left: 0;
  width: 390px;
}
.image-1-icon10 {
  top: 88px;
  height: 524px;
  object-fit: cover;
}
.upper-slider9 {
  top: 564px;
  border-radius: var(--br-2xl) var(--br-2xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.15);
  height: 283px;
}
.rectangle-div228 {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 220px;
  height: 30px;
}
.advanced12 {
  position: absolute;
  top: 4px;
  left: calc(50% - 91px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 181px;
}
.furnichure10 {
  position: absolute;
  top: 594px;
  left: calc(50% - 110px);
  width: 220px;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.left-arrow-icon7,
.right-arrow-icon10 {
  position: absolute;
  height: 3.55%;
  width: 7.69%;
  top: 70.38%;
  right: 82.05%;
  bottom: 26.07%;
  left: 10.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.right-arrow-icon10 {
  right: 10.26%;
  left: 82.05%;
}
.home-indicator10 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black);
  width: 134px;
  height: 5px;
}
.system-light-home-indicato10 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
}
.inner-feachure-box10 {
  position: absolute;
  top: calc(50% - 50.15px);
  left: calc(50% - 170px);
  width: 340px;
  height: 100.3px;
}
.rectangle-div229 {
  position: absolute;
  top: 0;
  left: calc(50% - 51.67px);
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 103.33px;
  height: 30px;
}
.login14 {
  position: absolute;
  top: 4px;
  left: calc(50% - 47.67px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
}
.chair12 {
  position: absolute;
  top: 20.3px;
  left: calc(50% - 160px);
  width: 103.33px;
  height: 30px;
}
.table9,
.unselect7 {
  position: absolute;
  width: 95px;
}
.unselect7 {
  top: 0;
  left: calc(50% - 47.5px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table9 {
  top: 24.3px;
  left: calc(50% - 48px);
  height: 22px;
  color: var(--color-white);
}
.table10 {
  position: absolute;
  top: 60.3px;
  left: calc(50% - 52px);
  width: 103.33px;
  height: 30px;
}
.rectangle-div233,
.window-blinds16,
.window-blinds17 {
  position: absolute;
  top: 20.3px;
  left: calc(50% + 57px);
  width: 103.33px;
  height: 30px;
}
.rectangle-div233,
.window-blinds17 {
  left: calc(50% - 53px);
}
.rectangle-div233 {
  top: 0;
  left: calc(50% - 51.67px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
}
.chair13,
.window-blinds18 {
  position: absolute;
  top: 60.3px;
  width: 103.33px;
  height: 30px;
}
.chair13 {
  left: calc(50% - 160px);
  color: var(--color-white);
}
.window-blinds18 {
  left: calc(50% + 57px);
}
.inner-feachure10 {
  position: absolute;
  top: calc(50% + 211.7px);
  left: calc(50% - 170px);
  width: 340px;
  height: 100.3px;
  text-align: center;
}
.dragable-box-sqauar34,
.rectangle-icon49 {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 110px);
  width: 220px;
  height: 160px;
}
.rectangle-icon49 {
  height: 25px;
}
.icon20 {
  position: absolute;
  height: 5.51%;
  width: 4.01%;
  top: 5%;
  right: 4.63%;
  bottom: 89.49%;
  left: 91.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.collabration7,
.real-time7 {
  position: absolute;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 132px;
}
.collabration7 {
  top: 2px;
  left: 44px;
  font-weight: 600;
  color: var(--color-brown-100);
  text-align: center;
}
.real-time7 {
  top: 0;
  left: 24px;
}
.check-box-icon73 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.div189,
.div190,
.div191,
.div192 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 156px;
  height: 22px;
}
.div190,
.div191,
.div192 {
  top: 52px;
}
.div191,
.div192 {
  top: 74px;
}
.div192 {
  top: 96px;
}
.rectangle-div235 {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 80px);
  border-radius: var(--br-md);
  background-color: var(--color-brown-100);
  width: 160px;
  height: 25px;
}
.vector-icon119 {
  position: absolute;
  height: 80.03%;
  width: 8.3%;
  top: 50.9%;
  right: 69.79%;
  bottom: -30.93%;
  left: 21.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.buy-button20,
.group-div20,
.link-share7 {
  position: absolute;
  top: calc(50% - 8.5px);
  width: 89px;
  height: 17px;
}
.link-share7 {
  left: calc(50% - 44.5px);
  letter-spacing: -0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.buy-button20,
.group-div20 {
  left: calc(50% - 45px);
}
.buy-button20 {
  top: calc(50% + 44px);
  left: calc(50% - 80px);
  width: 160px;
  height: 25px;
  text-align: center;
  color: var(--color-white);
}
.dilog-box-17 {
  position: absolute;
  top: calc(50% + 228px);
  left: calc(50% - 110px);
  width: 220px;
  height: 160px;
  display: none;
}
.dragable-box-sqauar35,
.rectangle-icon50 {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 110px);
  width: 220px;
  height: 104px;
}
.rectangle-icon50 {
  height: 25px;
}
.icon21 {
  position: absolute;
  height: 8.48%;
  width: 4.01%;
  top: 7.69%;
  right: 4.63%;
  bottom: 83.82%;
  left: 91.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dilog-box-27 {
  position: absolute;
  top: calc(50% + 228px);
  left: calc(50% - 110px);
  width: 220px;
  height: 104px;
  display: none;
}
.dragable-box-sqauar36 {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 136px);
  width: 272px;
  height: 156px;
}
.rectangle-icon51 {
  position: absolute;
  top: calc(50% - 62px);
  left: calc(50% - 120px);
  width: 240px;
  height: 25px;
}
.measurements10 {
  position: absolute;
  top: 2px;
  left: 54px;
  font-size: var(--font-size-base);
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  color: var(--color-brown-100);
  display: inline-block;
  width: 132px;
}
.cross-icon26 {
  position: absolute;
  height: 12.1%;
  width: 6.25%;
  top: 4.03%;
  right: 2.92%;
  bottom: 83.87%;
  left: 90.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.measure {
  position: absolute;
  top: 30px;
  left: 104px;
  font-size: var(--font-size-base);
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: left;
  display: inline-block;
  width: 50px;
}
.check-box-icon80 {
  position: absolute;
  top: 34px;
  left: 85px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.touch-with-fingre-and-drag,
.unit-type7 {
  position: absolute;
  left: 49px;
  letter-spacing: -0.41px;
  display: inline-block;
  width: 142px;
}
.unit-type7 {
  top: 72px;
  font-size: var(--font-size-base);
  line-height: 22px;
}
.touch-with-fingre-and-drag {
  top: 52px;
  line-height: 8px;
}
.rectangle-div236 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 24.5px);
  border-radius: var(--br-sm);
  background-color: var(--color-brown-100);
  width: 49px;
  height: 20px;
}
.feet1 {
  position: absolute;
  top: 0;
  left: 10px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 29px;
}
.feet,
.rectangle-icon52 {
  position: absolute;
  width: 49px;
}
.feet {
  top: calc(50% + 31px);
  left: calc(50% - 105px);
  height: 22px;
  color: var(--color-white);
}
.rectangle-icon52 {
  top: calc(50% - 11px);
  left: calc(50% - 24.5px);
  border-radius: var(--br-sm);
  height: 20px;
}
.inch,
.meter1 {
  position: absolute;
}
.inch {
  top: calc(50% + 32px);
  left: calc(50% - 51px);
  width: 49px;
  height: 22px;
}
.meter1 {
  top: 0;
  left: 6px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 37px;
}
.cm14,
.dilog-box-37,
.meter {
  position: absolute;
  top: calc(50% + 32px);
  left: calc(50% + 3px);
  width: 49px;
  height: 22px;
}
.cm14,
.dilog-box-37 {
  left: calc(50% + 57px);
}
.dilog-box-37 {
  top: calc(50% + 228px);
  left: calc(50% - 120px);
  width: 240px;
  height: 124px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.dragable-box-sqauar37,
.rectangle-icon55 {
  position: absolute;
  top: calc(50% - 92.5px);
  left: calc(50% - 170px);
  width: 340px;
  height: 185px;
}
.rectangle-icon55 {
  height: 25px;
}
.cross-icon27 {
  position: absolute;
  height: 8.11%;
  width: 4.41%;
  top: 2.7%;
  right: 2.06%;
  bottom: 89.19%;
  left: 93.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.onoff6,
.render16 {
  position: absolute;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.render16 {
  top: 2px;
  left: 104px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-brown-100);
  text-align: center;
  width: 132px;
}
.onoff6 {
  top: 0;
  left: 24px;
  width: 104px;
}
.off-button-icon6 {
  position: absolute;
  top: 1px;
  left: 20px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.div196,
.div197 {
  position: absolute;
  top: 31px;
  left: 50px;
  width: 128px;
  height: 22px;
  display: none;
}
.div197 {
  top: 73px;
}
.capture-your-design-with-a-vid6 {
  position: absolute;
  top: 35px;
  left: 15px;
  letter-spacing: -0.41px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  width: 310px;
  height: 33px;
}
.rectangle-div237 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 80px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 160px;
  height: 30px;
}
.vector-icon120 {
  position: absolute;
  height: 66.7%;
  width: 8.3%;
  top: 55.75%;
  right: 69.79%;
  bottom: -22.44%;
  left: 21.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.buy6 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 5.5px);
  letter-spacing: -0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 23px;
}
.vector-icon121 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 17.5px);
  width: 7px;
  height: 12px;
}
.buy-button21,
.group-div21 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 17px);
  width: 35px;
  height: 18px;
}
.buy-button21 {
  top: calc(50% + 52.5px);
  left: calc(50% - 80px);
  width: 160px;
  height: 30px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.check-box-icon81,
.image13 {
  position: absolute;
  height: 15px;
}
.check-box-icon81 {
  top: 0;
  left: 0;
  width: 15px;
  overflow: hidden;
}
.image13 {
  top: 1px;
  left: 20px;
  font-size: var(--font-size-base);
  letter-spacing: -0.41px;
  line-height: 12px;
  font-weight: 500;
  color: var(--color-brown-100);
  display: inline-block;
  width: 77px;
}
.rectangle-div238 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.select12 {
  position: absolute;
  top: 2px;
  left: 4px;
  line-height: 10px;
  display: inline-block;
  width: 55px;
  height: 10px;
}
.vector-icon122 {
  position: absolute;
  height: 40%;
  width: 4.77%;
  top: 60%;
  right: 0.95%;
  bottom: 0;
  left: 94.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close-resolution12 {
  position: absolute;
  height: 93.75%;
  width: 53.03%;
  top: 0;
  right: 0;
  bottom: 6.25%;
  left: 46.97%;
}
.k24 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.k27 {
  margin: 0;
}
.k-2k-3k-4k6 {
  position: absolute;
  top: 2px;
  left: 4px;
  line-height: 10px;
  display: inline-block;
  width: 55px;
  height: 61px;
}
.vector-icon123 {
  position: absolute;
  height: 9.09%;
  width: 4.77%;
  top: 8.58%;
  right: 0.95%;
  bottom: 82.33%;
  left: 94.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.open-resolution12 {
  position: absolute;
  height: 412.5%;
  width: 53.03%;
  top: 0;
  right: 0;
  bottom: -312.5%;
  left: 46.97%;
  display: none;
}
.image12 {
  position: absolute;
  top: 74px;
  left: 23px;
  width: 132px;
  height: 16px;
  font-size: var(--font-size-3xs);
}
.close-resolution13,
.open-resolution13 {
  position: absolute;
  height: 22.73%;
  width: 53.85%;
  top: 0;
  right: 0;
  bottom: 77.27%;
  left: 46.15%;
}
.open-resolution13 {
  height: 100%;
  bottom: 0;
}
.video12 {
  position: absolute;
  top: 74px;
  left: 180px;
  width: 130px;
  height: 66px;
  font-size: var(--font-size-3xs);
}
.via-viscommerce-cloud6 {
  position: absolute;
  top: 111px;
  left: 84px;
  letter-spacing: -0.41px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  width: 173px;
  height: 14px;
}
.render15 {
  position: absolute;
  top: calc(50% + 212px);
  left: calc(50% - 170px);
  width: 340px;
  height: 185px;
  display: none;
  font-size: var(--font-size-sm);
}
.rectangle-div242,
.union7 {
  background-color: var(--color-white);
  width: 220px;
  height: 120px;
}
.rectangle-div242 {
  position: absolute;
  top: calc(50% + 599px);
  left: calc(50% - 25px);
  border-radius: var(--br-xl);
}
.union7 {
  position: relative;
  border: 1px solid var(--color-brown-100);
  box-sizing: border-box;
}
.dragable-box-sqauar38 {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 110px);
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 120px;
}
.price15 {
  top: 0;
  left: 38px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.only7,
.price14,
.price15 {
  position: absolute;
}
.only7 {
  top: 18px;
  left: 0;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  color: var(--color-brown-100);
  display: inline-block;
}
.price14 {
  top: 10px;
  left: 58px;
  width: 105px;
  height: 40px;
}
.buy-button22,
.buy-now7,
.group-div22 {
  position: absolute;
  width: 56.41px;
  height: 17px;
}
.buy-now7 {
  top: calc(50% - 8.5px);
  left: calc(50% - 28.2px);
  letter-spacing: -0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.buy-button22,
.group-div22 {
  top: calc(50% - 9px);
  left: calc(50% - 28px);
}
.buy-button22 {
  top: calc(50% + 10px);
  left: calc(50% - 80px);
  width: 160px;
  height: 30px;
  color: var(--color-white);
}
.cross-icon28 {
  position: absolute;
  top: 4px;
  left: 201px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.price-buy-button7 {
  position: absolute;
  top: calc(50% + 237px);
  left: calc(50% - 110px);
  width: 220px;
  height: 120px;
  display: none;
  text-align: center;
  color: var(--color-gray-200);
}
.union-icon22 {
  position: relative;
  border-radius: var(--br-xl);
  width: 340px;
  height: 470px;
}
.cross-icon29 {
  position: absolute;
  height: 3.19%;
  width: 4.41%;
  top: 1.54%;
  right: 2.06%;
  bottom: 95.27%;
  left: 93.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome-back6 {
  position: absolute;
  top: 20.24px;
  left: 31px;
  font-weight: 600;
  color: var(--color-brown-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
}
.rectangle-div244 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 297px;
  height: 40px;
}
.xyzgmailcom12 {
  position: absolute;
  top: 12px;
  left: 24px;
  display: inline-block;
  width: 235px;
  height: 17px;
}
.div198 {
  top: 137.24px;
  left: 21px;
  width: 297px;
  height: 40px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.div198,
.div199,
.xyz18 {
  position: absolute;
}
.xyz18 {
  top: 12px;
  left: 24px;
  display: inline-block;
  width: 222px;
  height: 17px;
}
.div199 {
  top: 197.24px;
  left: 21px;
  width: 297px;
  height: 40px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.remember-me13 {
  position: absolute;
  top: 0;
  left: 24px;
  line-height: 16px;
  display: inline-block;
  width: 272px;
  height: 16px;
}
.check-box-icon83 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.remember-me12 {
  position: absolute;
  top: 257.24px;
  left: 21px;
  width: 296px;
  height: 16px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.rectangle-div246 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-brown-100);
  width: 297px;
  height: 40px;
}
.login16 {
  position: absolute;
  top: 7px;
  left: 53.74px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195.17px;
  height: 25.19px;
}
.button12 {
  position: absolute;
  top: 367.24px;
  left: 21px;
  width: 297px;
  height: 40px;
  color: var(--color-white);
}
.forget-password6 {
  position: absolute;
  top: 417.24px;
  left: 22px;
  font-size: var(--font-size-base);
  line-height: 16px;
  color: var(--color-gray-500);
  display: inline-block;
  width: 295px;
  height: 16px;
}
.login15,
.welcome-onbard6 {
  position: absolute;
  font-size: var(--font-size-3xl);
  text-align: center;
}
.login15 {
  top: calc(50% - 157.24px);
  left: calc(50% - 170px);
  width: 340px;
  height: 470px;
  display: none;
  color: var(--color-gray-200);
}
.welcome-onbard6 {
  top: 20.24px;
  left: 31px;
  font-weight: 600;
  color: var(--color-brown-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
}
.xyx-abc-ayz6 {
  position: absolute;
  top: 12px;
  left: 24px;
  display: inline-block;
  width: 140px;
  height: 16.8px;
}
.div200,
.div201,
.xyz19 {
  position: absolute;
  top: 77.24px;
  left: 21px;
  width: 297px;
  height: 40px;
}
.div201,
.xyz19 {
  top: 137.24px;
}
.xyz19 {
  top: 12px;
  left: 24px;
  line-height: 16px;
  display: inline-block;
  width: 121px;
  height: 16.8px;
}
.div202 {
  top: 197.24px;
  left: 21px;
  width: 297px;
  height: 40px;
}
.div202,
.div203,
.xyz20 {
  position: absolute;
}
.xyz20 {
  top: 12px;
  left: 24px;
  display: inline-block;
  width: 129px;
  height: 16.8px;
}
.div203 {
  top: 257.24px;
  left: 21px;
  width: 297px;
  height: 40px;
}
.user-agreement13 {
  color: var(--color-brown-100);
}
.button13,
.user-agreement12 {
  position: absolute;
  top: 317.24px;
  left: 21px;
  width: 296px;
  height: 16px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.button13 {
  top: 367.24px;
  width: 297px;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.sign-up6 {
  font-weight: 500;
  color: var(--color-brown-100);
}
.already-have-an-account-sign6 {
  position: absolute;
  top: 417.24px;
  left: 22px;
  font-size: var(--font-size-base);
  line-height: 16px;
  text-align: center;
  display: inline-block;
  width: 295px;
  height: 16px;
  color: var(--color-gray-500);
}
.register12 {
  position: absolute;
  top: calc(50% - 157.24px);
  left: calc(50% - 170px);
  width: 340px;
  height: 470px;
  display: none;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.div188 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 390px;
  height: 844px;
  overflow-x: auto;
}
.union-icon24 {
  position: relative;
  width: 220px;
  height: 350px;
}
.back-icon10 {
  position: absolute;
  height: 2.86%;
  width: 4.8%;
  top: 4.29%;
  right: 86.11%;
  bottom: 92.86%;
  left: 9.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div252 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.vector-icon127 {
  position: absolute;
  height: 33.33%;
  width: 3.09%;
  top: 33.33%;
  right: 2.47%;
  bottom: 33.33%;
  left: 94.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome13 {
  position: absolute;
  width: 88.89%;
  top: 13.33%;
  left: 5.56%;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.div204,
.div205,
.div206,
.div207,
.div208,
.div209,
.div210 {
  position: absolute;
  height: 8.57%;
  width: 81.82%;
  top: 11.43%;
  right: 9.09%;
  bottom: 80%;
  left: 9.09%;
}
.div205,
.div206,
.div207,
.div208,
.div209,
.div210 {
  top: 22.86%;
  bottom: 68.57%;
}
.div206,
.div207,
.div208,
.div209,
.div210 {
  top: 34.29%;
  bottom: 57.14%;
}
.div207,
.div208,
.div209,
.div210 {
  top: 45.71%;
  bottom: 45.71%;
}
.div208,
.div209,
.div210 {
  top: 57.14%;
  bottom: 34.29%;
}
.div209,
.div210 {
  top: 68.57%;
  bottom: 22.86%;
}
.div210 {
  top: 80%;
  bottom: 11.43%;
}
.menu-box10 {
  position: absolute;
  top: 88px;
  left: 145px;
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 350px;
  display: none;
}
.fluent-line-icon10 {
  position: absolute;
  top: 56px;
  left: 345px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.div187 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
