body {
  margin: 0;
  line-height: normal;
}
.rectangle-div195 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 390px;
  height: 44px;
}
.room-designer-3d9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
}
.room-design-3d9 {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 280px;
  height: 27px;
}
.reset-icon9 {
  height: 43.18%;
  width: 4.62%;
  top: 29.55%;
  right: 15.13%;
  bottom: 27.27%;
  left: 80.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header9,
.reset-icon9,
.time9 {
  position: absolute;
}
.header9 {
  top: 44px;
  left: 0;
  width: 390px;
  height: 44px;
  font-size: var(--font-size-3xl);
}
.time9 {
  top: calc(50% - 8px);
  left: calc(50% - 170px);
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  width: 52px;
}
.border9,
.cap-icon9 {
  position: absolute;
  mix-blend-mode: normal;
}
.border9 {
  top: calc(50% - 5.67px);
  left: calc(50% - 12.16px);
  border-radius: var(--br-2xs);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon9 {
  top: calc(50% - 2px);
  left: calc(50% + 10.84px);
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity9 {
  position: absolute;
  top: calc(50% - 3.67px);
  left: calc(50% - 10.16px);
  border-radius: var(--br-3xs);
  background-color: var(--black);
  width: 18px;
  height: 7.33px;
}
.battery9 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 145.7px);
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon9 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.cellular-connection-icon9 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.system-light-status-bar9 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 44px;
  font-size: var(--font-size-xl);
  color: var(--black);
}
.image-1-icon9,
.upper-slider8 {
  position: absolute;
  left: 0;
  width: 390px;
}
.image-1-icon9 {
  top: 88px;
  height: 524px;
  object-fit: cover;
}
.upper-slider8 {
  top: 564px;
  border-radius: var(--br-2xl) var(--br-2xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.15);
  height: 283px;
}
.rectangle-div196 {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 220px;
  height: 30px;
}
.advanced10 {
  position: absolute;
  top: 4px;
  left: calc(50% - 91px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 181px;
}
.furnichure9 {
  position: absolute;
  top: 594px;
  left: calc(50% - 110px);
  width: 220px;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.left-arrow-icon6,
.right-arrow-icon9 {
  position: absolute;
  height: 3.55%;
  width: 7.69%;
  top: 70.38%;
  right: 82.05%;
  bottom: 26.07%;
  left: 10.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.right-arrow-icon9 {
  right: 10.26%;
  left: 82.05%;
}
.home-indicator9 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-3xl);
  background-color: var(--black);
  width: 134px;
  height: 5px;
}
.system-light-home-indicato9 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
}
.inner-feachure-box9 {
  position: absolute;
  top: calc(50% - 50.15px);
  left: calc(50% - 170px);
  width: 340px;
  height: 100.3px;
}
.rectangle-div197 {
  position: absolute;
  top: 0;
  left: calc(50% - 51.67px);
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 103.33px;
  height: 30px;
}
.login11 {
  position: absolute;
  top: 4px;
  left: calc(50% - 47.67px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
}
.chair10 {
  position: absolute;
  top: 20.3px;
  left: calc(50% - 160px);
  width: 103.33px;
  height: 30px;
  cursor: pointer;
}
.unselect6 {
  top: 0;
  left: calc(50% - 47.5px);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
}
.table7,
.table8,
.unselect6 {
  position: absolute;
}
.table7 {
  top: 24.3px;
  left: calc(50% - 48px);
  width: 95px;
  height: 22px;
  color: var(--color-white);
}
.table8 {
  top: 60.3px;
  left: calc(50% - 52px);
  width: 103.33px;
  height: 30px;
}
.window-blinds13 {
  top: 20.3px;
  left: calc(50% + 57px);
  cursor: pointer;
}
.rectangle-div201,
.window-blinds13,
.window-blinds14 {
  position: absolute;
  width: 103.33px;
  height: 30px;
}
.window-blinds14 {
  top: 20.3px;
  left: calc(50% - 53px);
  cursor: pointer;
}
.rectangle-div201 {
  top: 0;
  left: calc(50% - 51.67px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
}
.chair11,
.window-blinds15 {
  position: absolute;
  top: 60.3px;
  width: 103.33px;
  height: 30px;
}
.chair11 {
  left: calc(50% - 160px);
  color: var(--color-white);
}
.window-blinds15 {
  left: calc(50% + 57px);
}
.inner-feachure9 {
  position: absolute;
  top: calc(50% + 211.7px);
  left: calc(50% - 170px);
  width: 340px;
  height: 100.3px;
  text-align: center;
}
.dragable-box-sqauar29,
.rectangle-icon42 {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 110px);
  width: 220px;
  height: 160px;
}
.rectangle-icon42 {
  height: 25px;
}
.icon17 {
  position: absolute;
  height: 5.51%;
  width: 4.01%;
  top: 5%;
  right: 4.63%;
  bottom: 89.49%;
  left: 91.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.collabration6,
.real-time6 {
  position: absolute;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 132px;
}
.collabration6 {
  top: 2px;
  left: 44px;
  font-weight: 600;
  color: var(--color-brown-100);
  text-align: center;
}
.real-time6 {
  top: 0;
  left: 24px;
}
.check-box-icon62 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.div165,
.div166,
.div167,
.div168 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 156px;
  height: 22px;
}
.div166,
.div167,
.div168 {
  top: 52px;
}
.div167,
.div168 {
  top: 74px;
}
.div168 {
  top: 96px;
}
.rectangle-div203 {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 80px);
  border-radius: var(--br-md);
  background-color: var(--color-brown-100);
  width: 160px;
  height: 25px;
}
.vector-icon104 {
  position: absolute;
  height: 80.03%;
  width: 8.3%;
  top: 50.9%;
  right: 69.79%;
  bottom: -30.93%;
  left: 21.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.buy-button17,
.group-div17,
.link-share6 {
  position: absolute;
  top: calc(50% - 8.5px);
  width: 89px;
  height: 17px;
}
.link-share6 {
  left: calc(50% - 44.5px);
  letter-spacing: -0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.buy-button17,
.group-div17 {
  left: calc(50% - 45px);
}
.buy-button17 {
  top: calc(50% + 44px);
  left: calc(50% - 80px);
  width: 160px;
  height: 25px;
  text-align: center;
  color: var(--color-white);
}
.dilog-box-16 {
  position: absolute;
  top: calc(50% + 228px);
  left: calc(50% - 110px);
  width: 220px;
  height: 160px;
  display: none;
}
.dragable-box-sqauar30,
.rectangle-icon43 {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 110px);
  width: 220px;
  height: 104px;
}
.rectangle-icon43 {
  height: 25px;
}
.icon18 {
  position: absolute;
  height: 8.48%;
  width: 4.01%;
  top: 7.69%;
  right: 4.63%;
  bottom: 83.82%;
  left: 91.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dilog-box-26 {
  position: absolute;
  top: calc(50% + 228px);
  left: calc(50% - 110px);
  width: 220px;
  height: 104px;
  display: none;
}
.measurements-of-room6,
.measurements8 {
  position: absolute;
  font-size: var(--font-size-base);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.measurements8 {
  top: 2px;
  left: 44px;
  font-weight: 600;
  color: var(--color-brown-100);
  width: 132px;
}
.measurements-of-room6 {
  top: 34px;
  left: 51px;
  width: 142px;
}
.on-button-icon10 {
  position: absolute;
  top: 35px;
  left: 48px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.unit-type6 {
  position: absolute;
  top: 65px;
  left: 39px;
  font-size: var(--font-size-3xs);
  letter-spacing: -0.41px;
  line-height: 8px;
  color: var(--color-gray-200);
  display: inline-block;
  width: 142px;
}
.rectangle-div204 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 24.5px);
  border-radius: var(--br-sm);
  background-color: var(--color-brown-100);
  width: 49px;
  height: 20px;
}
.ftin13 {
  position: absolute;
  top: 0;
  left: 10px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 29px;
}
.ftin12,
.rectangle-icon45 {
  position: absolute;
  width: 49px;
}
.ftin12 {
  top: calc(50% + 23px);
  left: calc(50% - 94px);
  height: 22px;
  color: var(--color-white);
}
.rectangle-icon45 {
  top: calc(50% - 11px);
  left: calc(50% - 24.5px);
  border-radius: var(--br-sm);
  height: 20px;
}
.in12,
.mcm13 {
  position: absolute;
}
.in12 {
  top: calc(50% + 24px);
  left: calc(50% - 45px);
  width: 49px;
  height: 22px;
}
.mcm13 {
  top: 0;
  left: 6px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
  width: 37px;
}
.cm12,
.dilog-box-36,
.mcm12 {
  position: absolute;
  top: calc(50% + 24px);
  left: calc(50% + 4px);
  width: 49px;
  height: 22px;
}
.cm12,
.dilog-box-36 {
  left: calc(50% + 53px);
}
.dilog-box-36 {
  top: calc(50% + 228px);
  left: calc(50% - 110px);
  width: 220px;
  height: 104px;
  display: none;
  text-align: center;
  font-size: var(--font-size-xs);
}
.dragable-box-sqauar32,
.rectangle-icon48 {
  position: absolute;
  top: calc(50% - 92.5px);
  left: calc(50% - 170px);
  width: 340px;
  height: 185px;
}
.rectangle-icon48 {
  height: 25px;
}
.cross-icon22 {
  position: absolute;
  height: 8.11%;
  width: 4.41%;
  top: 2.7%;
  right: 2.06%;
  bottom: 89.19%;
  left: 93.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.onoff5,
.render13 {
  position: absolute;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.render13 {
  top: 2px;
  left: 104px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-brown-100);
  text-align: center;
  width: 132px;
}
.onoff5 {
  top: 0;
  left: 24px;
  width: 104px;
}
.off-button-icon5 {
  position: absolute;
  top: 1px;
  left: 20px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.div172,
.div173 {
  position: absolute;
  top: 31px;
  left: 50px;
  width: 128px;
  height: 22px;
  display: none;
}
.div173 {
  top: 73px;
}
.capture-your-design-with-a-vid5 {
  position: absolute;
  top: 35px;
  left: 15px;
  letter-spacing: -0.41px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  width: 310px;
  height: 33px;
}
.rectangle-div205 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 80px);
  border-radius: var(--br-lg);
  background-color: var(--color-brown-100);
  width: 160px;
  height: 30px;
}
.vector-icon105 {
  position: absolute;
  height: 66.7%;
  width: 8.3%;
  top: 55.75%;
  right: 69.79%;
  bottom: -22.44%;
  left: 21.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.buy5 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 5.5px);
  letter-spacing: -0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 23px;
}
.vector-icon106 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 17.5px);
  width: 7px;
  height: 12px;
}
.buy-button18,
.group-div18 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 17px);
  width: 35px;
  height: 18px;
}
.buy-button18 {
  top: calc(50% + 52.5px);
  left: calc(50% - 80px);
  width: 160px;
  height: 30px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.check-box-icon69,
.image11 {
  position: absolute;
  height: 15px;
}
.check-box-icon69 {
  top: 0;
  left: 0;
  width: 15px;
  overflow: hidden;
}
.image11 {
  top: 1px;
  left: 20px;
  font-size: var(--font-size-base);
  letter-spacing: -0.41px;
  line-height: 12px;
  font-weight: 500;
  color: var(--color-brown-100);
  display: inline-block;
  width: 77px;
}
.rectangle-div206 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.select10 {
  position: absolute;
  top: 2px;
  left: 4px;
  line-height: 10px;
  display: inline-block;
  width: 55px;
  height: 10px;
}
.vector-icon107 {
  position: absolute;
  height: 40%;
  width: 4.77%;
  top: 60%;
  right: 0.95%;
  bottom: 0;
  left: 94.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close-resolution10 {
  position: absolute;
  height: 93.75%;
  width: 53.03%;
  top: 0;
  right: 0;
  bottom: 6.25%;
  left: 46.97%;
}
.k20 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.k23 {
  margin: 0;
}
.k-2k-3k-4k5 {
  position: absolute;
  top: 2px;
  left: 4px;
  line-height: 10px;
  display: inline-block;
  width: 55px;
  height: 61px;
}
.vector-icon108 {
  position: absolute;
  height: 9.09%;
  width: 4.77%;
  top: 8.58%;
  right: 0.95%;
  bottom: 82.33%;
  left: 94.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.open-resolution10 {
  position: absolute;
  height: 412.5%;
  width: 53.03%;
  top: 0;
  right: 0;
  bottom: -312.5%;
  left: 46.97%;
  display: none;
}
.image10 {
  position: absolute;
  top: 74px;
  left: 23px;
  width: 132px;
  height: 16px;
  font-size: var(--font-size-3xs);
}
.close-resolution11,
.open-resolution11 {
  position: absolute;
  height: 22.73%;
  width: 53.85%;
  top: 0;
  right: 0;
  bottom: 77.27%;
  left: 46.15%;
}
.open-resolution11 {
  height: 100%;
  bottom: 0;
}
.video10 {
  position: absolute;
  top: 74px;
  left: 180px;
  width: 130px;
  height: 66px;
  font-size: var(--font-size-3xs);
}
.via-viscommerce-cloud5 {
  position: absolute;
  top: 111px;
  left: 84px;
  letter-spacing: -0.41px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  width: 173px;
  height: 14px;
}
.render12 {
  position: absolute;
  top: calc(50% + 212px);
  left: calc(50% - 170px);
  width: 340px;
  height: 185px;
  display: none;
  font-size: var(--font-size-sm);
}
.rectangle-div210,
.union6 {
  background-color: var(--color-white);
  width: 220px;
  height: 120px;
}
.rectangle-div210 {
  position: absolute;
  top: calc(50% + 599px);
  left: calc(50% - 25px);
  border-radius: var(--br-xl);
}
.union6 {
  position: relative;
  border: 1px solid var(--color-brown-100);
  box-sizing: border-box;
}
.dragable-box-sqauar33 {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 110px);
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 120px;
}
.price13 {
  top: 0;
  left: 38px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.only6,
.price12,
.price13 {
  position: absolute;
}
.only6 {
  top: 18px;
  left: 0;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  color: var(--color-brown-100);
  display: inline-block;
}
.price12 {
  top: 10px;
  left: 58px;
  width: 105px;
  height: 40px;
}
.buy-button19,
.buy-now6,
.group-div19 {
  position: absolute;
  width: 56.41px;
  height: 17px;
}
.buy-now6 {
  top: calc(50% - 8.5px);
  left: calc(50% - 28.2px);
  letter-spacing: -0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.buy-button19,
.group-div19 {
  top: calc(50% - 9px);
  left: calc(50% - 28px);
}
.buy-button19 {
  top: calc(50% + 10px);
  left: calc(50% - 80px);
  width: 160px;
  height: 30px;
  color: var(--color-white);
}
.cross-icon23 {
  position: absolute;
  top: 4px;
  left: 201px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.price-buy-button6 {
  position: absolute;
  top: calc(50% + 237px);
  left: calc(50% - 110px);
  width: 220px;
  height: 120px;
  display: none;
  text-align: center;
  color: var(--color-gray-200);
}
.union-icon19 {
  position: relative;
  border-radius: var(--br-xl);
  width: 340px;
  height: 470px;
}
.cross-icon24 {
  position: absolute;
  height: 3.19%;
  width: 4.41%;
  top: 1.54%;
  right: 2.06%;
  bottom: 95.27%;
  left: 93.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome-back5 {
  position: absolute;
  top: 20.24px;
  left: 31px;
  font-weight: 600;
  color: var(--color-brown-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
}
.rectangle-div212 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 297px;
  height: 40px;
}
.xyzgmailcom10 {
  position: absolute;
  top: 12px;
  left: 24px;
  display: inline-block;
  width: 235px;
  height: 17px;
}
.div174 {
  top: 137.24px;
  left: 21px;
  width: 297px;
  height: 40px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.div174,
.div175,
.xyz15 {
  position: absolute;
}
.xyz15 {
  top: 12px;
  left: 24px;
  display: inline-block;
  width: 222px;
  height: 17px;
}
.div175 {
  top: 197.24px;
  left: 21px;
  width: 297px;
  height: 40px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.remember-me11 {
  position: absolute;
  top: 0;
  left: 24px;
  line-height: 16px;
  display: inline-block;
  width: 272px;
  height: 16px;
}
.check-box-icon71 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.remember-me10 {
  position: absolute;
  top: 257.24px;
  left: 21px;
  width: 296px;
  height: 16px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.rectangle-div214 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-brown-100);
  width: 297px;
  height: 40px;
}
.login13 {
  position: absolute;
  top: 7px;
  left: 53.74px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195.17px;
  height: 25.19px;
}
.button10 {
  position: absolute;
  top: 367.24px;
  left: 21px;
  width: 297px;
  height: 40px;
  color: var(--color-white);
}
.forget-password5 {
  position: absolute;
  top: 417.24px;
  left: 22px;
  font-size: var(--font-size-base);
  line-height: 16px;
  color: var(--color-gray-500);
  display: inline-block;
  width: 295px;
  height: 16px;
}
.login12,
.welcome-onbard5 {
  position: absolute;
  font-size: var(--font-size-3xl);
  text-align: center;
}
.login12 {
  top: calc(50% - 157.24px);
  left: calc(50% - 170px);
  width: 340px;
  height: 470px;
  display: none;
  color: var(--color-gray-200);
}
.welcome-onbard5 {
  top: 20.24px;
  left: 31px;
  font-weight: 600;
  color: var(--color-brown-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
}
.xyx-abc-ayz5 {
  position: absolute;
  top: 12px;
  left: 24px;
  display: inline-block;
  width: 140px;
  height: 16.8px;
}
.div176,
.div177,
.xyz16 {
  position: absolute;
  top: 77.24px;
  left: 21px;
  width: 297px;
  height: 40px;
}
.div177,
.xyz16 {
  top: 137.24px;
}
.xyz16 {
  top: 12px;
  left: 24px;
  line-height: 16px;
  display: inline-block;
  width: 121px;
  height: 16.8px;
}
.div178 {
  top: 197.24px;
  left: 21px;
  width: 297px;
  height: 40px;
}
.div178,
.div179,
.xyz17 {
  position: absolute;
}
.xyz17 {
  top: 12px;
  left: 24px;
  display: inline-block;
  width: 129px;
  height: 16.8px;
}
.div179 {
  top: 257.24px;
  left: 21px;
  width: 297px;
  height: 40px;
}
.user-agreement11 {
  color: var(--color-brown-100);
}
.button11,
.user-agreement10 {
  position: absolute;
  top: 317.24px;
  left: 21px;
  width: 296px;
  height: 16px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.button11 {
  top: 367.24px;
  width: 297px;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.sign-up5 {
  font-weight: 500;
  color: var(--color-brown-100);
}
.already-have-an-account-sign5 {
  position: absolute;
  top: 417.24px;
  left: 22px;
  font-size: var(--font-size-base);
  line-height: 16px;
  text-align: center;
  display: inline-block;
  width: 295px;
  height: 16px;
  color: var(--color-gray-500);
}
.register10 {
  position: absolute;
  top: calc(50% - 157.24px);
  left: calc(50% - 170px);
  width: 340px;
  height: 470px;
  display: none;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.div164 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 390px;
  height: 844px;
  overflow-x: auto;
}
.union-icon21 {
  position: relative;
  width: 220px;
  height: 350px;
}
.back-icon9 {
  position: absolute;
  height: 2.86%;
  width: 4.8%;
  top: 4.29%;
  right: 86.11%;
  bottom: 92.86%;
  left: 9.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div220 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.vector-icon112 {
  position: absolute;
  height: 33.33%;
  width: 3.09%;
  top: 33.33%;
  right: 2.47%;
  bottom: 33.33%;
  left: 94.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome12 {
  position: absolute;
  width: 88.89%;
  top: 13.33%;
  left: 5.56%;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.div180,
.div181,
.div182,
.div183,
.div184,
.div185,
.div186 {
  position: absolute;
  height: 8.57%;
  width: 81.82%;
  top: 11.43%;
  right: 9.09%;
  bottom: 80%;
  left: 9.09%;
}
.div181,
.div182,
.div183,
.div184,
.div185,
.div186 {
  top: 22.86%;
  bottom: 68.57%;
}
.div182,
.div183,
.div184,
.div185,
.div186 {
  top: 34.29%;
  bottom: 57.14%;
}
.div183,
.div184,
.div185,
.div186 {
  top: 45.71%;
  bottom: 45.71%;
}
.div184,
.div185,
.div186 {
  top: 57.14%;
  bottom: 34.29%;
}
.div185,
.div186 {
  top: 68.57%;
  bottom: 22.86%;
}
.div186 {
  top: 80%;
  bottom: 11.43%;
}
.menu-box9 {
  position: absolute;
  top: 88px;
  left: 145px;
  box-shadow: 0 0 4px rgba(255, 90, 80, 0.04),
    0 8px 16px rgba(255, 90, 80, 0.08);
  width: 220px;
  height: 350px;
  display: none;
}
.fluent-line-icon9 {
  position: absolute;
  top: 56px;
  left: 345px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.div163 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
